body{background-color:white;}
h1{background-color:pink;
color: white;
transition:0.5s;
padding: 10px;
border:none;
margin:0;
text-align: center;
}
h2{background-color:lightblue;
color: white;
margin:10px;
border:10px;
transition:0.5s;
padding: 10px;}
p{background-color:beige;
color: black;
margin:20px;}